body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
  }
  
.dashboard-layout {
    display: flex;
    min-height: 100vh;
  }
  
.logo h2 {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
  }
  
.sidebar {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 240px; 
    height: 900px; 
    background-color: #ffffff;
    position: fixed;
    top: 0; 
    left: 0; 
    padding: 20px; 
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); 
    border-radius: 15px;
  }
  
.nav {
    list-style-type: none; 
    padding: 0; 
  }
  
.nav ul {
    padding-left: 0; 
  }
  
.nav li {
    margin: 40px 0; 
  }
  
.nav a {
    text-decoration: none; 
    color: #333; 
    transition: color 0.2s; 
  }
  
.nav a:hover {
    color: #010e1d; 
  }
  
.nav li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
.nav hr {
    border-color: #494C62;
  }
  
.main-content {
    flex: 1;
    margin-left: 260px;
    padding: 20px;
    background-color: #ffffff;
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .profile-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
  }
  
  .header-right button {
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }


  .dashboard-container {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-top: 20px; 
  }
  
  .dashboard-overview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
  }
  
  .dashboard-overview-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    margin-top: 20px;
  }

  .dashboard-overview-3{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    margin-top: 20px;
  }
  
  .stat-card {
    background-color: #fff;
    padding: 22px;
    border-radius: 8px;
    box-shadow: 0px 1.5px 4px 1.5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
